.git
**/.git
**/.terraform
**/.terraform/**
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
**/*.tfvars.json
!**/*.tfvars.example
**/*.kubeconfig
**/kubeconfig/**
.env
.env.*
results
evidence
logs
yohan-docs
