openapi: 3.0.3

info:
  title: DC-API
  version: 0.1.0
  description: |
    WSO2 Sovereign Cloud Control Plane API.

    DC-API sits in front of a Rancher + Harvester infrastructure layer and
    exposes a clean, tenant-isolated REST API for managing VMs, RKE2 clusters,
    virtual networks, DNS zones, and RBAC — in the style of AWS / Azure.

    **Authentication**

    Every `/v1/*` endpoint requires a `Bearer` token in the `Authorization`
    header. Two token types are accepted by the same scheme:

    1. **Asgardeo OIDC JWT** — obtained via the `dcctl login` PKCE flow. The JWT
       must carry a `groups` claim containing at least one group matching the
       tenant group prefix (default `dc-tenant-<tenant-id>`).

    2. **Service-account token** — a long-lived opaque token with the format
       `dcapi_sa_<lookup_id>_<secret>`, issued by
       `POST /v1/tenants/{tenant_id}/service-accounts`. Store it on creation;
       it cannot be retrieved again.

    **Async provisioning**

    Long-running operations (VM create, VNet create, etc.) return `202 Accepted`
    immediately. The response body contains the resource object with
    `"status": "PENDING"` and a `note` field with the polling URL. Poll the
    GET endpoint until `status` transitions to `ACTIVE` or `FAILED`.

    **Status lifecycle**

    `PENDING → ACTIVE` or `PENDING → FAILED`

    Deletion: `ACTIVE → DELETING → (row removed on success)`

    **Error format**

    All non-2xx responses use the flat envelope `{"error": "human-readable message"}`.

servers:
  - url: https://dcapi.lk.internal.wso2.com
    description: LK dev cluster (VPN required)
  - url: http://localhost:8080
    description: Local development

tags:
  - name: health
    description: Unauthenticated liveness probe
  - name: images
    description: VM bootable images
  - name: networks
    description: Legacy Harvester NAD network listing (pre-M2)
  - name: vms
    description: Virtual machines (async provisioning via Harvester/KubeVirt)
  - name: bastions
    description: |
      Per-VPC bastion hosts for SSH access to VMs in private VPC subnets (F10).
      A bastion is a small VM with two NICs — one on the tenant subnet (to
      reach internal VMs) and one on an operator-reachable VLAN (so tenants
      can SSH in from their workstations).
  - name: clusters
    description: RKE2 Kubernetes clusters (async provisioning via Rancher)
  - name: members
    description: Tenant membership management (human users)
  - name: service-accounts
    description: Service account lifecycle and token management
  - name: networking-vnets
    description: Virtual networks and subnets (M2 KubeOVN)
  - name: networking-peerings
    description: VNet-to-VNet peerings (M2 KubeOVN)
  - name: networking-nsgs
    description: Network security groups and attachment rules (M2 KubeOVN)
  - name: networking-route-tables
    description: Route tables and subnet associations (M2 KubeOVN)
  - name: networking-private-dns
    description: Private DNS zones and records (M2 KubeOVN / CoreDNS)
  - name: projects
    description: |
      Project management. Projects sit beneath Tenants as the primary workspace
      boundary. Every compute and network resource belongs to a project. A tenant
      owner is implicitly an owner of all projects in that tenant.
  - name: tenants
    description: Tenant discovery for the authenticated principal
  - name: quotas
    description: Tenant resource quotas (read-only in v1)
  - name: keyvaults
    description: |
      Azure-style Key Vault resources. Chunk 1 covers the logical record
      (CRUD on `/keyvaults`). Chunk 2 adds Per-VPC Private Endpoints.
      Chunk 3 adds the human-driven secret CRUD data plane
      (`/keyvaults/{id}/secrets`), proxied through dc-api to the per-tenant
      OpenBao KV-v2 mount — callers never see OpenBao tokens.
  - name: auth
    description: |
      Backend-for-Frontend OIDC session endpoints used by cloud-ui. Not consumed by dcctl.

      cloud-ui is a public SPA that cannot safely hold a `client_secret`, and Asgardeo
      strips the `groups` claim from tokens issued to public clients. The BFF runs an
      OAuth2 authorization-code-with-PKCE flow server-side against a confidential Asgardeo
      application (which receives the full claims set), then issues an HttpOnly encrypted
      session cookie that cloud-ui sends on every subsequent request.

      The existing JWT middleware in dc-api accepts the `dcapi_session` cookie as an
      alternative to a `Bearer` header — cloud-ui's runtime calls to `/v1/*` go through
      the same auth code path as `dcctl`.

security:
  - bearerAuth: []

paths:

  # ── Health ─────────────────────────────────────────────────────────────────

  /healthz:
    get:
      operationId: getHealth
      tags: [health]
      summary: Liveness probe
      description: |
        Unauthenticated Kubernetes liveness/readiness probe. Returns HTTP 200
        with `{"status":"ok"}` when the process is up. No auth required.
      security: []
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  # ── Projects ────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/cap-usage:
    parameters:
      - $ref: "#/components/parameters/TenantID"
    get:
      operationId: getTenantCapUsage
      tags: [tenants]
      summary: Read tenant capacity cap, current allocation, and remaining headroom
      description: |
        Returns three triplets (`cap`, `allocated`, `available`) so callers can
        show "you have X cpu / Y GB ram / Z GB storage available" inline before
        submitting a project create or PATCH. Any tenant member can read;
        mutation is admin-only via `PATCH /v1/admin/tenants/{tenant_id}`.

        `available = cap - allocated`. May be 0 (tenant fully distributed)
        but never negative — the cap-shrink-guard refuses any update that
        would push allocated above cap.
      responses:
        "200":
          description: Tenant capacity usage triplet
          content:
            application/json:
              schema:
                type: object
                required: [cap, allocated, available]
                properties:
                  cap:
                    $ref: "#/components/schemas/TenantCap"
                  allocated:
                    $ref: "#/components/schemas/TenantCap"
                  available:
                    $ref: "#/components/schemas/TenantCap"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects:
    parameters:
      - $ref: "#/components/parameters/TenantID"

    get:
      operationId: listProjects
      tags: [projects]
      summary: List projects in a tenant
      description: |
        Returns all projects visible to the authenticated principal. Any tenant
        member (viewer or above) may call this endpoint.
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createProject
      tags: [projects]
      summary: Create a project
      description: |
        Creates a new project in the tenant. Tenant-owner role required.
        Allocates compute/storage quotas and provisions the backing Kubernetes
        namespace (best-effort, retried on first resource create).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    get:
      operationId: getProject
      tags: [projects]
      summary: Get a project
      description: |
        Returns the project with its quota details. Any principal with at least
        Viewer access to the project or the parent tenant may call this.
      responses:
        "200":
          description: Project object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: updateProjectQuota
      tags: [projects]
      summary: Update a project's capacity quotas
      description: |
        Updates one or more of `cpu_cores`, `memory_gb`, `storage_gb` on the
        project. Tenant-owner or platform-admin only.

        Two cap invariants are enforced inside a single transaction:

        - **In-use guard:** new quota must be ≥ the sum of resources currently
          consuming the budget (active VMs, clusters, bastions). Refused with
          `400 quota_below_usage` if the new value would shrink below in-use.
        - **Tenant-cap guard:** new quota + sum of other projects' allocations
          must be ≤ the tenant cap. Refused with `400 quota_exceeded` (body is
          a `QuotaExceededError`).

        On success the project's namespace `ResourceQuota` object is updated
        asynchronously to mirror the new capacities (best-effort).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectQuotaRequest"
      responses:
        "200":
          description: Updated project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Invalid request, quota_below_usage, or quota_exceeded
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/QuotaExceededError"
                  - type: object
                    required: [error, message, requested, in_use]
                    properties:
                      error:
                        type: string
                        enum: [quota_below_usage]
                      message:
                        type: string
                      requested:
                        $ref: "#/components/schemas/TenantCap"
                      in_use:
                        $ref: "#/components/schemas/TenantCap"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteProject
      tags: [projects]
      summary: Delete a project
      description: |
        Deletes a project. The project must have no active resources (VMs, VNets,
        clusters, etc.) otherwise `409 Conflict` is returned. Tenant-owner only.
      responses:
        "204":
          description: Project deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Images ─────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/images:
    parameters:
      - $ref: "#/components/parameters/TenantID"

    get:
      operationId: listImages
      tags: [images]
      summary: List available VM images
      description: |
        Returns all VirtualMachineImage CRDs visible to DC-API in Harvester.
        Use the `id` field (format `namespace/resource-name`) as the value for
        `image_name` when creating a VM.
      responses:
        "200":
          description: List of images
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Image"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createImage
      tags: [images]
      summary: Register a new VM image by download URL
      description: |
        Triggers Harvester to download and register a new VirtualMachineImage
        CRD from the given URL. Returns `202 Accepted` with the Image object;
        the image may take several minutes to download.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImageRequest"
      responses:
        "202":
          description: Image registration accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Legacy Networks ──────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/networks:
    parameters:
      - $ref: "#/components/parameters/TenantID"

    get:
      operationId: listNetworks
      tags: [networks]
      summary: List available Harvester NAD networks (legacy)
      description: |
        Returns NetworkAttachmentDefinition CRDs from Harvester. Used as the
        `network_name` value when creating VMs on the legacy bridge path.
        This endpoint pre-dates M2 VNets and remains for backward compatibility.
        For new VMs prefer `vnet_id` + `subnet_id` instead of `network_name`.
      responses:
        "200":
          description: List of networks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Network"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Virtual Machines ─────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/virtual-machines:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    post:
      operationId: createVirtualMachine
      tags: [vms]
      summary: Create a virtual machine (async)
      description: |
        Accepts the VM specification, creates a PENDING record in DC-API's
        PostgreSQL state store, then triggers async provisioning in Harvester.
        Returns `202 Accepted` immediately.

        **Credentials** — DC-API generates an ECDSA P-256 SSH key pair and a
        random console password. Both are returned **once** in this response
        and never stored server-side. Save the `private_key` immediately.

        **Network attachment** — exactly one of the following must be provided:
        - Legacy bridge path: set `network_name` only.
        - VPC path (M2): set `vnet_id` + `subnet_id` only. Both VNets must be
          ACTIVE and belong to the caller's tenant.

        **Polling** — poll `GET /v1/virtual-machines/{id}` until
        `status` is `ACTIVE` or `FAILED`.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVirtualMachineRequest"
            examples:
              legacy-network:
                summary: Legacy bridge path
                value:
                  name: web-01
                  size: medium
                  image_name: default/image-rflb5
                  network_name: default/vm-net-100
              vpc-path:
                summary: M2 VPC path
                value:
                  name: api-01
                  size: large
                  disk_gb: 100
                  image_name: default/image-rflb5
                  vnet_id: 3a1c2e5d-0000-0000-0000-000000000001
                  subnet_id: 3a1c2e5d-0000-0000-0000-000000000002
      responses:
        "202":
          description: |
            VM creation accepted. The resource is in PENDING state.
            Poll `GET /v1/virtual-machines/{id}` for status updates.
          headers:
            Location:
              description: URL to poll for status
              schema:
                type: string
                example: /v1/virtual-machines/3a1c2e5d-1234-5678-abcd-000000000001
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateVirtualMachineResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotaExceeded"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listVirtualMachines
      tags: [vms]
      summary: List virtual machines for the authenticated tenant
      description: |
        Returns all VM resource records belonging to the caller's tenant.
        No pagination — returns the full set. Tenant isolation is enforced
        server-side; callers cannot see VMs from other tenants.
      responses:
        "200":
          description: List of VMs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VirtualMachine"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/virtual-machines/{id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/ResourceID"

    get:
      operationId: getVirtualMachine
      tags: [vms]
      summary: Get a virtual machine by UUID
      description: |
        Returns the current state of a VM. Poll this endpoint after
        `POST /v1/virtual-machines` to track provisioning progress.
        Returns 404 for both "not found" and "belongs to another tenant"
        to prevent cross-tenant enumeration.
      responses:
        "200":
          description: VM resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualMachine"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteVirtualMachine
      tags: [vms]
      summary: Delete a virtual machine (async)
      description: |
        Marks the VM as DELETING and triggers async removal from Harvester.
        Returns `202 Accepted` immediately. The DB row is removed by the
        reconciler once Harvester returns 404 for the resource.

        **Required role**: `owner`.
      responses:
        "202":
          description: Deletion accepted; VM is now DELETING
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Bastions (F10) ────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/bastions:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    post:
      operationId: createBastion
      tags: [bastions]
      summary: Create a bastion host (async)
      description: |
        Creates a small VM with two NICs — one on the target VPC's subnet
        (for ProxyJump-ing to internal VMs) and one on an operator-reachable
        VLAN (so tenants can SSH in from their workstations). Returns `202`
        immediately; provisioning completes in 2-5 minutes.

        **Credentials** — DC-API generates an ECDSA P-256 SSH key pair, returns
        the `private_key` **once**, and never stores it server-side.

        **Polling** — poll `GET /v1/bastions/{id}` until `status` is `ACTIVE`
        (then `mgmt_ip` is populated and the bastion is reachable).

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBastionRequest"
            example:
              name: prod-bastion
              vnet_id: 3a1c2e5d-0000-0000-0000-000000000010
              subnet_id: 3a1c2e5d-0000-0000-0000-000000000021
              description: Bastion for prod-vnet
      responses:
        "202":
          description: |
            Bastion creation accepted. Resource is in PENDING state.
            Poll `GET /v1/bastions/{id}` until `mgmt_ip` is populated.
          headers:
            Location:
              description: URL to poll for status
              schema:
                type: string
                example: /v1/bastions/3a1c2e5d-1234-5678-abcd-000000000005
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBastionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotaExceeded"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listBastions
      tags: [bastions]
      summary: List bastion hosts for the authenticated tenant
      description: |
        Returns all bastions belonging to the caller's tenant. No pagination.
        Tenant isolation is enforced server-side.
      responses:
        "200":
          description: List of bastions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Bastion"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/bastions/{id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/ResourceID"

    get:
      operationId: getBastion
      tags: [bastions]
      summary: Get a bastion by UUID
      description: |
        Returns the current state of a bastion. Poll this endpoint after
        `POST /v1/bastions` to track provisioning. Returns 404 for both
        "not found" and "belongs to another tenant".
      responses:
        "200":
          description: Bastion resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bastion"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteBastion
      tags: [bastions]
      summary: Delete a bastion (async)
      description: |
        Marks the bastion as DELETING and triggers async removal from
        Harvester. Returns `202`. The DB row is removed by the reconciler
        once the backend VM is gone.

        **Required role**: `owner` (only resource owner can delete).
      responses:
        "202":
          description: Bastion deletion accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Clusters ──────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/clusters:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    post:
      operationId: createCluster
      tags: [clusters]
      summary: Create an RKE2 cluster (async)
      description: |
        Accepts the cluster specification, creates a PENDING record, and
        triggers async provisioning in Rancher. Returns `202 Accepted`.

        The request body includes a `system_pool` object that configures the
        system node pool (controlplane + etcd). Worker node pools are added
        separately via `POST /clusters/{id}/node-pools` after the cluster
        reaches `ACTIVE` status.

        **Polling** — poll `GET .../clusters/{id}` until `status` is
        `ACTIVE` or `FAILED`. Cluster creation typically takes 8–15 minutes.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClusterRequest"
            examples:
              vpc_path:
                summary: VPC path — 3-node HA system pool
                value:
                  name: prod-k8s-01
                  k8s_version: v1.33.10+rke2r3
                  image_name: default/image-rflb5
                  vnet_id: 3a1c2e5d-1234-5678-abcd-000000000001
                  subnet_id: 3a1c2e5d-1234-5678-abcd-000000000002
                  system_pool:
                    size: large
                    count: 3
              single_node:
                summary: VPC path — single-node dev cluster
                value:
                  name: dev-k8s-01
                  k8s_version: v1.33.10+rke2r3
                  image_name: default/image-rflb5
                  vnet_id: 3a1c2e5d-1234-5678-abcd-000000000001
                  subnet_id: 3a1c2e5d-1234-5678-abcd-000000000002
                  system_pool:
                    size: medium
                    count: 1
              legacy_path:
                summary: Legacy bridge path
                value:
                  name: legacy-k8s-01
                  k8s_version: v1.33.10+rke2r3
                  image_name: default/image-rflb5
                  network_name: default/vm-net-100
                  system_pool:
                    size: medium
                    count: 1
      responses:
        "202":
          description: |
            Cluster creation accepted. The resource is in PENDING state.
            Poll `GET .../clusters/{id}` for status updates.
          headers:
            Location:
              description: URL to poll for status
              schema:
                type: string
                example: /v1/tenants/acme/projects/platform/clusters/3a1c2e5d-1234-5678-abcd-000000000002
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateClusterResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listClusters
      tags: [clusters]
      summary: List RKE2 clusters for the authenticated tenant/project
      responses:
        "200":
          description: List of clusters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Cluster"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/clusters/{id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/ResourceID"

    get:
      operationId: getCluster
      tags: [clusters]
      summary: Get a cluster by UUID
      description: |
        Returns the current state of a cluster. Poll after `POST .../clusters`
        to track provisioning progress. The response embeds the `system_pool`
        object and a `worker_pool_count` integer. For the full node-pool list,
        call `GET .../clusters/{id}/node-pools`.
      responses:
        "200":
          description: Cluster resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cluster"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteCluster
      tags: [clusters]
      summary: Delete a cluster (async)
      description: |
        Marks the cluster as DELETING and triggers async removal via Rancher.
        All node pools (system and worker) are drained and removed as part of
        the cluster deletion cascade. Returns `202 Accepted` immediately.

        **Required role**: `owner`.
      responses:
        "202":
          description: Deletion accepted; cluster is now DELETING
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/clusters/{id}/kubeconfig:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/ResourceID"

    get:
      operationId: getClusterKubeconfig
      tags: [clusters]
      summary: Download kubeconfig YAML for an active cluster
      description: |
        Returns the kubeconfig YAML as plain text. The cluster must be
        in `ACTIVE` status; returns 409 otherwise. Pipe the response
        directly to a file:

        ```
        dcctl kubeconfig <id> > ~/.kube/prod.yaml
        ```
      responses:
        "200":
          description: kubeconfig YAML
          content:
            text/plain:
              schema:
                type: string
                example: |
                  apiVersion: v1
                  kind: Config
                  clusters: []
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Cluster is not yet ACTIVE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "cluster is not yet active (status: PENDING)"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Node Pools ─────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/clusters/{id}/node-pools:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/ResourceID"

    get:
      operationId: listNodePools
      tags: [clusters]
      summary: List all node pools for a cluster
      description: |
        Returns all node pools — system pool first, then worker pools in
        creation order. Use the `role` field (`system` or `worker`) to
        distinguish pool categories.

        **Required role**: `member` or `owner`.
      responses:
        "200":
          description: List of node pools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NodePool"
              example:
                - name: system
                  role: system
                  size: large
                  count: 3
                  status: ready
                  created_at: "2026-05-23T10:00:00Z"
                - name: workers-01
                  role: worker
                  size: xlarge
                  count: 5
                  taints:
                    - key: workload
                      value: gpu
                      effect: NoSchedule
                  labels:
                    team: ml
                  status: ready
                  created_at: "2026-05-23T11:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createNodePool
      tags: [clusters]
      summary: Add a worker node pool to an existing cluster (async)
      description: |
        Adds a new worker node pool to a cluster that is in `ACTIVE` status.
        The pool role is always `worker` — system pools cannot be created via
        this endpoint (there is exactly one system pool, created with the cluster).

        Returns `202 Accepted`. The pool's `status` transitions
        `provisioning → ready` as Rancher brings up the nodes.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNodePoolRequest"
            examples:
              basic:
                summary: Basic worker pool
                value:
                  name: workers-01
                  size: xlarge
                  count: 3
              with_taints_labels:
                summary: Worker pool with taints and labels
                value:
                  name: gpu-workers
                  size: xlarge
                  count: 2
                  taints:
                    - key: nvidia.com/gpu
                      effect: NoSchedule
                  labels:
                    accelerator: nvidia-tesla-a100
      responses:
        "202":
          description: |
            Worker pool creation accepted. Poll `GET .../node-pools/{name}`
            until `status` is `ready`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NodePool"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: |
            Conflict — either the cluster is not in `ACTIVE` status, or a pool
            with the requested `name` already exists in this cluster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                cluster_not_active:
                  value:
                    error: "cluster is not ACTIVE (status: PENDING)"
                name_conflict:
                  value:
                    error: "a node pool named 'workers-01' already exists in this cluster"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/clusters/{id}/node-pools/{pool_name}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/ResourceID"
      - name: pool_name
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-z]([-a-z0-9]{0,38}[a-z0-9])?$'
        description: Name of the node pool (e.g. `system`, `workers-01`)
        example: workers-01

    get:
      operationId: getNodePool
      tags: [clusters]
      summary: Get a single node pool by name
      description: |
        **Required role**: `member` or `owner`.
      responses:
        "200":
          description: Node pool
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NodePool"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateNodePool
      tags: [clusters]
      summary: Scale or reconfigure a node pool
      description: |
        Mutates the mutable attributes of a node pool. All fields are optional;
        omit a field to leave it unchanged.

        **Mutable fields**:
        - `count` — scale the pool up or down. For the `system` pool, only
          growth in steps `{1→3, 3→5}` is allowed; shrinks are refused with
          `400`. Worker pools accept any count between 1 and 50.
        - `taints` — replaces the entire taint array. Send `[]` to clear all
          taints. Refused on the `system` pool with `400`.
        - `labels` — replaces the entire label map. Send `{}` to clear all
          labels. Refused on the `system` pool with `400`.

        **Immutable fields** (not present in this schema; return `400` if sent
        via unknown field handling): `name`, `role`, `size`.

        Returns `202 Accepted` with the pool's current state (status will
        reflect `scaling` for count changes until Rancher has reconciled
        the new node count). The Rancher machinePool update is asynchronous.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchNodePoolRequest"
            examples:
              scale_up:
                summary: Scale worker pool to 5 nodes
                value:
                  count: 5
              replace_taints:
                summary: Replace taint list
                value:
                  taints:
                    - key: workload
                      value: batch
                      effect: NoSchedule
              clear_labels:
                summary: Clear all labels
                value:
                  labels: {}
      responses:
        "202":
          description: |
            Update accepted. The pool's status reflects the transitional state:
            `scaling` when count changed, unchanged status for taint/label-only
            updates. Poll `GET .../node-pools/{pool_name}` for completion.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NodePool"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Cluster is not in ACTIVE status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "cluster is not ACTIVE (status: PENDING)"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteNodePool
      tags: [clusters]
      summary: Delete a worker node pool (async)
      description: |
        Drains all nodes in the pool (via Rancher's `drainBeforeDelete=true`)
        and removes the pool from the cluster. Returns `202 Accepted`; drain
        is asynchronous.

        The `system` pool cannot be deleted via this endpoint — delete the
        entire cluster instead. Returns `400` if `pool_name` is `system`.

        **Required role**: `member` or `owner`.
      responses:
        "202":
          description: Deletion accepted; pool is being drained and removed
        "400":
          description: |
            Bad request — either `pool_name` is `system` (delete the cluster
            instead) or the cluster is not in a state that allows pool deletion.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                system_pool:
                  value:
                    error: "the system pool cannot be deleted; delete the cluster to remove it"
                cluster_not_active:
                  value:
                    error: "cluster is not ACTIVE (status: DELETING)"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Tenant Members ─────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/members:
    parameters:
      - $ref: "#/components/parameters/TenantID"

    post:
      operationId: inviteMember
      tags: [members]
      summary: Invite a user to the tenant
      description: |
        Creates a `role_assignments` row binding the user (identified by
        their OIDC `sub`) to the tenant scope. Returns 409 if the user
        already holds that role. Also UPSERTs a `tenants` registry row
        for the tenant as a side effect, so the tenant is discoverable
        by admins via `GET /v1/tenants` without a separate registration.

        The URL `{tenant_id}` must match the caller's own tenant context
        (Option D: derived from a `role_assignments` row, not from any
        IdP group). Platform admins may operate on any tenant.

        **Required role**: `owner` (or platform admin).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteMemberRequest"
            example:
              user_sub: 01abc123-0000-0000-0000-user000000001
              role: member
              display_alias: alice-laptop
      responses:
        "201":
          description: Member invited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listMembers
      tags: [members]
      summary: List human members of the tenant
      description: |
        Returns all `role_assignments` rows of `principal_type: user` for
        the tenant scope. Service accounts are excluded; use
        `GET /v1/tenants/{tenant_id}/service-accounts` for those.

        **Required role**: any authenticated tenant member (viewer, member, or owner).
      responses:
        "200":
          description: Member list
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoleAssignment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/members/{principal_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - name: principal_id
        in: path
        required: true
        description: OIDC subject (`sub`) of the user to remove
        schema:
          type: string
          example: 01abc123-0000-0000-0000-user000000001

    delete:
      operationId: removeMember
      tags: [members]
      summary: Remove a user from the tenant
      description: |
        Atomically deletes all `role_assignments` rows for this principal at
        the tenant scope. Returns 409 if the target is the last owner.

        **Required role**: `owner`.
      responses:
        "204":
          description: Member removed
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Cannot remove the last owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "cannot remove the last owner of a tenant; promote another member to owner first"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Service Accounts ─────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/service-accounts:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    post:
      operationId: createServiceAccount
      tags: [service-accounts]
      summary: Create a service account
      description: |
        Creates a service account and returns its raw token **exactly once**.
        The token format is `dcapi_sa_<lookup_id>_<secret>`. Store it
        immediately; subsequent GET/LIST responses never include the token.

        The service account is created with a `role_assignments` row granting
        the requested role at the tenant scope.

        Returns 409 if a service account with the same name already exists
        in this tenant.

        **Required role**: `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceAccountRequest"
            example:
              name: ci-deploy
              role: member
              description: GitHub Actions deploy pipeline
      responses:
        "201":
          description: |
            Service account created. The `token` field contains the raw
            `dcapi_sa_*` token — shown only once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateServiceAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listServiceAccounts
      tags: [service-accounts]
      summary: List service accounts for the tenant
      description: |
        Returns all service accounts. The `token` field is never included.

        **Required role**: any authenticated tenant member.
      responses:
        "200":
          description: Service account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  service_accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServiceAccount"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/service-accounts/{sa_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - name: sa_id
        in: path
        required: true
        description: UUID of the service account
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000099

    get:
      operationId: getServiceAccount
      tags: [service-accounts]
      summary: Get a service account by UUID
      description: |
        Returns a single service account. The `token` field is never included.

        **Required role**: any authenticated tenant member.
      responses:
        "200":
          description: Service account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccount"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteServiceAccount
      tags: [service-accounts]
      summary: Delete a service account
      description: |
        Deletes the service account and all its `role_assignments` rows in a
        single transaction. Any bearer token issued to this SA immediately
        becomes invalid.

        **Required role**: `owner`.
      responses:
        "204":
          description: Service account deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Tenants (new) ─────────────────────────────────────────────────────────────

  /v1/tenants:
    get:
      operationId: listTenants
      tags: [tenants]
      summary: List tenants the authenticated principal has access to
      description: |
        Returns the set of tenants for which the authenticated principal holds
        at least one `role_assignments` row (at any scope within the tenant).

        The `roles` array is the **union of distinct roles** the principal holds
        across all scopes within that tenant — useful for the UI tenant switcher
        to decide which actions to enable.

        Both human users (OIDC JWT) and service accounts (dcapi_sa_* token)
        may call this endpoint. The result is always scoped to the caller's
        own principal.

        **Platform admins** (sub in `DCAPI_PLATFORM_ADMIN_SUBS`, OR member of
        `DCAPI_ADMIN_GROUP`): this endpoint returns **every tenant** in the
        `tenants` registry — not just the caller's role-assignment rows.
        Each entry's `roles` is set to `["owner"]` for UI convenience;
        admins bypass per-tenant RBAC checks at the middleware layer
        regardless. Tenants without role-assignment rows are still
        visible to admins as long as they're in the registry — the
        registry is populated by `POST /v1/admin/tenants` (explicit
        admin pre-registration) or by `POST /v1/tenants/{tid}/members`
        (UPSERT on first invite).

        **Required auth**: any valid token. No minimum role required beyond
        being authenticated.
      responses:
        "200":
          description: List of tenants the principal has access to
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TenantSummary"
              example:
                - id: iam-platform
                  name: iam-platform
                  roles:
                    - owner
                - id: dev-team
                  name: dev-team
                  roles:
                    - member
                    - viewer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Admin: tenant registry ────────────────────────────────────────────────────

  /v1/admin/tenants:
    post:
      operationId: adminCreateTenant
      tags: [tenants, admin]
      summary: Register a tenant in the local registry (platform-admin only)
      description: |
        Inserts a row into the `tenants` registry so the tenant is
        visible via `GET /v1/tenants` (admin path).

        Two paths populate the registry; this endpoint is the explicit
        one. The other is implicit: `POST /v1/tenants/{tid}/members`
        UPSERTs the registry row as a side effect of the first invite.
        Use this endpoint when an admin wants the tenant discoverable
        before inviting anyone.

        Does **not** create any Asgardeo group — Option D treats the
        IdP as authentication-only. Membership lives in dc-api
        (`role_assignments`).

        **Required auth**: platform admin (sub in
        `DCAPI_PLATFORM_ADMIN_SUBS` OR member of `DCAPI_ADMIN_GROUP`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
            example:
              id: cs-team
              name: Customer Success
              description: SRE-managed support tenant
      responses:
        "201":
          description: Tenant registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: |
            Validation error — `id` empty, malformed, or longer than the
            allowed length.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Caller is authenticated but not a platform admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: A tenant with this `id` already exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/admin/tenants/{tenant_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
    patch:
      operationId: adminUpdateTenantCap
      tags: [tenants, admin]
      summary: Update a tenant's capacity ceiling (platform-admin only)
      description: |
        Adjusts one or more of `cpu_cores_cap`, `memory_gb_cap`,
        `storage_gb_cap` on the tenant. Tenant owners distribute these
        caps across projects via per-project quotas; this endpoint is the
        only way to change the ceiling.

        Shrink-guard: the new cap on any dimension must be ≥ the current
        sum of project allocations in that dimension. If shrinking would
        leave projects allocated above the cap, the call is refused with
        `400 quota_exceeded` (body is a `QuotaExceededError`). To shrink
        below the existing distribution, shrink or delete projects first.

        **Required auth**: platform admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantCapRequest"
      responses:
        "200":
          description: Updated tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Invalid body or shrink-guard tripped (quota_exceeded)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/QuotaExceededError"
                  - $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── VNets ─────────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    post:
      operationId: createVNet
      tags: [networking-vnets]
      summary: Create a virtual network (async)
      description: |
        Creates a KubeOVN Vpc CRD. Returns `202 Accepted`; poll
        `GET /v1/vnets/{vnet_id}` until `ACTIVE`.

        `address_space` must be one or more RFC1918 CIDRs (max 5 in M2)
        that do not overlap with the region's reserved infrastructure ranges.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVNetRequest"
            example:
              name: prod-vnet
              address_space:
                - 10.10.0.0/16
              region: lk-dev
              description: Production VNet
      responses:
        "202":
          description: |
            VNet creation accepted. Poll GET /v1/vnets/{vnet_id} for status.
          headers:
            Location:
              schema:
                type: string
                example: /v1/vnets/3a1c2e5d-0000-0000-0000-000000000010
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncNetworkResponse"
              example:
                resource:
                  id: 3a1c2e5d-0000-0000-0000-000000000010
                  tenant_id: iam-platform
                  name: prod-vnet
                  region: lk-dev
                  address_space: ["10.10.0.0/16"]
                  status: PENDING
                  provider_type: kubeovn
                  created_at: "2026-05-09T10:00:00Z"
                  updated_at: "2026-05-09T10:00:00Z"
                note: "VNet is being provisioned. Poll GET /v1/vnets/3a1c2e5d-0000-0000-0000-000000000010 for status."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotaExceeded"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listVNets
      tags: [networking-vnets]
      summary: List virtual networks for the authenticated tenant
      responses:
        "200":
          description: List of VNets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VNet"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"

    get:
      operationId: getVNet
      tags: [networking-vnets]
      summary: Get a VNet by UUID
      responses:
        "200":
          description: VNet resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VNet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteVNet
      tags: [networking-vnets]
      summary: Delete a VNet (async)
      description: |
        Marks the VNet as DELETING and triggers async removal from KubeOVN.
        Returns 409 if the VNet has non-FAILED subnets, route tables, or
        peerings — delete those first.

        **Required role**: `owner`.
      responses:
        "202":
          description: Deletion accepted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: VNet has active dependents (subnets, route tables, or peerings)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "VNet has active subnets; delete them first: 3a1c..."
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Subnets ───────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/subnets:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"

    post:
      operationId: createSubnet
      tags: [networking-vnets]
      summary: Create a subnet within a VNet (async)
      description: |
        Creates a KubeOVN Subnet CRD inside the parent VNet. Returns `202 Accepted`.

        The CIDR must:
        - Be a valid RFC1918 block (`/8`–`/28`)
        - Be contained within at least one of the parent VNet's `address_space` entries
        - Not overlap any sibling subnet in the same VNet
        - Not overlap the region's reserved infrastructure ranges

        Gateway defaults to the first usable IP in the CIDR if omitted.

        The parent VNet must be in `ACTIVE` status.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubnetRequest"
            example:
              name: app-subnet
              cidr: 10.10.1.0/24
              gateway: 10.10.1.1
              description: Application tier
      responses:
        "202":
          description: |
            Subnet creation accepted. Poll GET /v1/vnets/{vnet_id}/subnets/{subnet_id}.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncNetworkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/QuotaExceeded"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listSubnets
      tags: [networking-vnets]
      summary: List subnets within a VNet
      responses:
        "200":
          description: List of subnets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Subnet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/subnets/{subnet_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"
      - name: subnet_id
        in: path
        required: true
        description: UUID of the subnet
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000021

    get:
      operationId: getSubnet
      tags: [networking-vnets]
      summary: Get a subnet by UUID
      responses:
        "200":
          description: Subnet resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subnet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteSubnet
      tags: [networking-vnets]
      summary: Delete a subnet (async)
      description: |
        Marks the subnet DELETING and triggers async KubeOVN removal.

        Returns 409 if any VMs, bastions, or clusters are still attached to
        the subnet (via `subnet_id` on the resource row). KubeOVN refuses to
        release the logical switch while LSPs are pinned, so attempting the
        delete asynchronously would leave the subnet stuck in FAILED. Delete
        the attached resources first, then retry.

        **Required role**: `owner`.
      responses:
        "202":
          description: Deletion accepted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Subnet has attached resources (VMs, bastions, or clusters)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "subnet has attached resources; delete them first: chalitha-bastion (bastion), web-01 (vm)"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Route Tables ───────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/route-tables:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"

    post:
      operationId: createRouteTable
      tags: [networking-route-tables]
      summary: Create a route table within a VNet (synchronous)
      description: |
        Synchronous (returns `201 Created`). Writes static routes onto the
        KubeOVN Vpc CRD immediately.

        In M2 all routes apply at the VPC level (per-subnet differentiation
        is informational only — see `/associations`).

        The VNet must be `ACTIVE`.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRouteTableRequest"
            example:
              name: rt-default
              description: Default route table
              routes:
                - name: internet-egress
                  destination_cidr: "0.0.0.0/0"
                  next_hop_type: internet
      responses:
        "201":
          description: Route table created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteTable"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listRouteTables
      tags: [networking-route-tables]
      summary: List route tables within a VNet
      responses:
        "200":
          description: List of route tables
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RouteTable"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/route-tables/{rt_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"
      - name: rt_id
        in: path
        required: true
        description: UUID of the route table
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000031

    get:
      operationId: getRouteTable
      tags: [networking-route-tables]
      summary: Get a route table by UUID
      responses:
        "200":
          description: Route table resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteTable"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateRouteTableRoutes
      tags: [networking-route-tables]
      summary: Replace all routes in a route table (synchronous)
      description: |
        Replaces the entire route set and writes it to the KubeOVN Vpc CRD
        immediately. Returns the updated route table with `200 OK`.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [routes]
              properties:
                routes:
                  type: array
                  items:
                    $ref: "#/components/schemas/RouteRule"
      responses:
        "200":
          description: Updated route table
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteTable"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteRouteTable
      tags: [networking-route-tables]
      summary: Delete a route table (synchronous)
      description: |
        Removes routes from the KubeOVN Vpc CRD and deletes the DB row.
        Returns `204 No Content`.

        **Required role**: `owner`.
      responses:
        "204":
          description: Route table deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/route-tables/{rt_id}/associations:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"
      - name: rt_id
        in: path
        required: true
        description: UUID of the route table
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000031

    post:
      operationId: associateRouteTable
      tags: [networking-route-tables]
      summary: Associate a route table with a subnet (informational in M2)
      description: |
        Records the association in the DB and returns `201 Created` with a
        `warning` field indicating that per-subnet routing is informational
        only in M2 — all routes apply at the VPC level. Per-subnet OVN
        policy routes are slated for M2.5.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subnet_id]
              properties:
                subnet_id:
                  type: string
                  format: uuid
                  description: UUID of the subnet to associate
                  example: 3a1c2e5d-0000-0000-0000-000000000021
      responses:
        "201":
          description: Association created (informational in M2)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteTableAssociation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/route-tables/{rt_id}/associations/{assoc_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"
      - name: rt_id
        in: path
        required: true
        description: UUID of the route table
        schema:
          type: string
          format: uuid
      - name: assoc_id
        in: path
        required: true
        description: UUID of the association
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000041

    delete:
      operationId: disassociateRouteTable
      tags: [networking-route-tables]
      summary: Remove a route table–subnet association
      description: |
        Removes the association record. Returns `204 No Content`.

        **Required role**: `owner`.
      responses:
        "204":
          description: Association removed
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Peerings ───────────────────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/peerings:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"

    post:
      operationId: createPeering
      tags: [networking-peerings]
      summary: Create a VNet peering (async)
      description: |
        Creates a KubeOVN VpcPeering CRD and installs reciprocal static routes
        on both Vpc CRDs. Returns `202 Accepted`.

        Constraints:
        - `peer_vnet_id` must belong to the same tenant
        - Both VNets must be `ACTIVE`
        - Both VNets must be in the same region (cross-region deferred)
        - Address spaces must not overlap
        - Only one peering may exist between any two VNets

        `allow_forwarded_traffic` is stored but not enforced in M2.
        The response includes a `warning` field when it is `true`.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePeeringRequest"
            example:
              name: prod-to-dev
              peer_vnet_id: 3a1c2e5d-0000-0000-0000-000000000011
              allow_forwarded_traffic: false
      responses:
        "202":
          description: |
            Peering creation accepted. Poll GET /v1/vnets/{vnet_id}/peerings/{peering_id}.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncNetworkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listPeerings
      tags: [networking-peerings]
      summary: List peerings for a VNet
      responses:
        "200":
          description: List of peerings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Peering"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/vnets/{vnet_id}/peerings/{peering_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - $ref: "#/components/parameters/VNetID"
      - name: peering_id
        in: path
        required: true
        description: UUID of the peering
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000051

    get:
      operationId: getPeering
      tags: [networking-peerings]
      summary: Get a peering by UUID
      responses:
        "200":
          description: Peering resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Peering"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deletePeering
      tags: [networking-peerings]
      summary: Delete a VNet peering (async)
      description: |
        Marks the peering DELETING and triggers async removal of the
        KubeOVN VpcPeering CRD and reciprocal static routes.

        **Required role**: `owner`.
      responses:
        "202":
          description: Deletion accepted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Network Security Groups ────────────────────────────────────────────────────

  /v1/tenants/{tenant_id}/projects/{project_id}/security-groups:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"

    post:
      operationId: createSecurityGroup
      tags: [networking-nsgs]
      summary: Create a network security group (synchronous)
      description: |
        Creates an NSG and optionally populates its initial rule set.
        Synchronous — returns `201 Created`.

        NSGs are tenant-scoped (not VNet-scoped). They can be attached to
        subnets via `POST /v1/security-groups/{sg_id}/attachments`.

        NIC-level attachment (`target_type: nic`) is deferred to M3.

        Rule priorities must be unique within a direction (inbound/outbound)
        within one NSG.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNSGRequest"
            example:
              name: web-sg
              description: Allow HTTP/HTTPS inbound
              rules:
                - name: allow-https
                  direction: inbound
                  priority: 100
                  protocol: tcp
                  source_address_prefix: "*"
                  source_port_range: "*"
                  destination_address_prefix: "*"
                  destination_port_range: "443"
                  action: allow
      responses:
        "201":
          description: NSG created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NSG"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listSecurityGroups
      tags: [networking-nsgs]
      summary: List NSGs for the authenticated tenant
      responses:
        "200":
          description: List of NSGs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NSG"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/security-groups/{sg_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - name: sg_id
        in: path
        required: true
        description: UUID of the NSG
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000061

    get:
      operationId: getSecurityGroup
      tags: [networking-nsgs]
      summary: Get an NSG by UUID
      description: Returns the NSG with its full rule set and attachment list.
      responses:
        "200":
          description: NSG resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NSG"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteSecurityGroup
      tags: [networking-nsgs]
      summary: Delete an NSG (synchronous)
      description: |
        Removes the KubeOVN SecurityGroup CRD entry and deletes the DB row.
        Returns 409 if any attachments exist — detach them first.

        **Required role**: `owner`.
      responses:
        "204":
          description: NSG deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: NSG has active attachments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "NSG has active attachments; detach them first: 3a1c..."
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/security-groups/{sg_id}/rules:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - name: sg_id
        in: path
        required: true
        description: UUID of the NSG
        schema:
          type: string
          format: uuid

    put:
      operationId: updateSecurityGroupRules
      tags: [networking-nsgs]
      summary: Replace all rules in an NSG (synchronous)
      description: |
        Replaces the entire rule set and pushes changes to KubeOVN immediately.
        Returns the updated NSG with `200 OK`.

        Rule priorities must be unique within a direction within the NSG.
        Submit an empty `rules` array to remove all rules.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rules]
              properties:
                rules:
                  type: array
                  items:
                    $ref: "#/components/schemas/NSGRule"
      responses:
        "200":
          description: Updated NSG
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NSG"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/security-groups/{sg_id}/attachments:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - name: sg_id
        in: path
        required: true
        description: UUID of the NSG
        schema:
          type: string
          format: uuid

    post:
      operationId: attachSecurityGroup
      tags: [networking-nsgs]
      summary: Attach an NSG to a subnet (synchronous)
      description: |
        Writes NSG ACLs to the KubeOVN Subnet CRD and records the attachment.
        Returns `201 Created`.

        In M2, `target_type` must be `"subnet"`. Providing `"nic"` returns
        400 (NIC-level NSG is deferred to M3).

        The target subnet must belong to the same tenant.

        **Required role**: `member` or `owner`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachNSGRequest"
            example:
              target_type: subnet
              target_id: 3a1c2e5d-0000-0000-0000-000000000021
      responses:
        "201":
          description: NSG attached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NSGAttachment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/tenants/{tenant_id}/projects/{project_id}/security-groups/{sg_id}/attachments/{attachment_id}:
    parameters:
      - $ref: "#/components/parameters/TenantID"
      - $ref: "#/components/parameters/ProjectID"
      - name: sg_id
        in: path
        required: true
        description: UUID of the NSG
        schema:
          type: string
          format: uuid
      - name: attachment_id
        in: path
        required: true
        description: UUID of the attachment
        schema:
          type: string
          format: uuid
          example: 3a1c2e5d-0000-0000-0000-000000000071

    delete:
      operationId: detachSecurityGroup
      tags: [networking-nsgs]
      summary: Detach an NSG from a subnet (synchronous)
      description: |
        Removes NSG ACLs from the KubeOVN Subnet CRD and deletes the
        attachment record. Returns `204 No Content`.

        **Required role**: `owner`.
      responses:
        "204":
          description: NSG detached
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Auth (F7 BFF) ────────────────────────────────────────────────────────────
  #
  # These four endpoints are NOT behind the bearerAuth security scheme.
  # HandleLogin and HandleCallback are public (browser hits them with no token).
  # HandleLogout and HandleMe read the dcapi_session cookie directly.
  # All four are only registered when DCAPI_BFF_SESSION_SECRET is set.

  /v1/auth/login:
    get:
      operationId: authLogin
      tags: [auth]
      summary: Initiate OIDC authorization-code flow
      security: []
      description: |
        Generates a PKCE code verifier + challenge and a nonce, seals them into
        a short-lived encrypted `dcapi_oidc_state` cookie, then redirects the
        browser to Asgardeo's authorize endpoint.

        The browser follows the redirect to Asgardeo, the user authenticates
        there, and Asgardeo redirects the browser back to `GET /v1/auth/callback`.

        **Open-redirect protection** — the optional `return_to` query parameter
        is accepted only when it is an absolute URL whose scheme and host match
        the configured cloud-ui origin (`DCAPI_BFF_POST_LOGIN_REDIRECT`). Any
        other value (different host, relative URL, missing scheme) is silently
        discarded and the configured default is used instead.

        **Cookie set on success:**

        | Name | Path | Attributes | Max-Age |
        |---|---|---|---|
        | `dcapi_oidc_state` | `/v1/auth` | HttpOnly; Secure (prod); SameSite=Lax | 300 s |

        The `dcapi_oidc_state` value is AES-GCM encrypted and carries the PKCE
        verifier, the nonce, and the sanitised `return_to`.

        **Internal crypto errors** (PKCE verifier generation, nonce generation,
        or cookie sealing failures) return `500` instead of a redirect; these
        should never occur in normal operation.
      parameters:
        - name: return_to
          in: query
          required: false
          description: |
            Absolute URL to redirect to after a successful login. Must share
            scheme and host with the configured cloud-ui origin. Any other
            value is silently ignored.
          schema:
            type: string
            format: uri
            example: https://cloud.lk.wso2.com/projects/iam-platform
      responses:
        "302":
          description: |
            Redirect to Asgardeo's authorize endpoint. Sets the
            `dcapi_oidc_state` cookie. The browser follows the redirect
            automatically.
          headers:
            Location:
              description: Asgardeo authorize URL with PKCE + nonce parameters
              schema:
                type: string
                example: >-
                  https://api.asgardeo.io/t/wso2/oauth2/authorize?response_type=code
                  &client_id=cloud-ui-cid&redirect_uri=...&code_challenge=...
                  &code_challenge_method=S256&nonce=...
            Set-Cookie:
              description: >-
                dcapi_oidc_state=<sealed>; Path=/v1/auth; HttpOnly;
                Secure; SameSite=Lax; Max-Age=300
              schema:
                type: string
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/auth/callback:
    get:
      operationId: authCallback
      tags: [auth]
      summary: Complete OIDC authorization-code exchange
      security: []
      description: |
        Asgardeo redirects the browser here after the user authenticates.
        The handler:
        1. Reads and decrypts the `dcapi_oidc_state` cookie to recover the
           PKCE verifier and nonce.
        2. Verifies that the `state` query parameter echoed by Asgardeo
           matches the nonce in the cookie (tamper check).
        3. Exchanges the authorization `code` for tokens at Asgardeo's
           token endpoint, presenting the PKCE verifier.
        4. Verifies the returned `id_token` — checks issuer, signature, and
           nonce.
        5. Seals a `dcapi_session` cookie containing the access token and
           identity claims, then redirects the browser to the cloud-ui
           origin (or the validated `return_to` carried in the state cookie).

        **Cookies mutated on success:**

        | Name | Action | Path | Attributes | Max-Age |
        |---|---|---|---|---|
        | `dcapi_session` | Set | `/` | HttpOnly; Secure (prod); SameSite=Lax | Access-token TTL |
        | `dcapi_oidc_state` | Cleared | `/v1/auth` | HttpOnly; Secure (prod); SameSite=Lax | -1 |

        The `dcapi_session` value is AES-GCM encrypted and contains the
        access token, refresh token, expiry, OIDC `sub`, and email.

        **Error responses** do not perform a redirect — they return an HTTP
        status with a plain-text body (produced by `http.Error`). These
        are not the standard JSON `{"error":"..."}` envelope because the
        browser is the client at this point, not cloud-ui's fetch layer.
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code issued by Asgardeo
          schema:
            type: string
            example: eyJh...abc
        - name: state
          in: query
          required: true
          description: |
            Opaque state value echoed by Asgardeo. Must match the nonce
            stored in the `dcapi_oidc_state` cookie; otherwise returns 400.
          schema:
            type: string
            example: a1b2c3d4e5f6
      responses:
        "302":
          description: |
            Login successful. Sets the `dcapi_session` cookie, clears
            `dcapi_oidc_state`, and redirects to the cloud-ui origin
            (or `return_to` from the state cookie).
          headers:
            Location:
              description: Post-login URL (cloud-ui origin or validated return_to)
              schema:
                type: string
                example: https://cloud.lk.wso2.com/
            Set-Cookie:
              description: >-
                dcapi_session=<sealed>; Path=/; HttpOnly; Secure; SameSite=Lax;
                Max-Age=<token-ttl-seconds>
              schema:
                type: string
        "400":
          description: |
            Missing or invalid state cookie, state parameter mismatch, or
            cookie decryption failure. The `dcapi_oidc_state` cookie may
            have expired (5-minute window) or the request was tampered with.
            The user should restart the sign-in flow.
          content:
            text/plain:
              schema:
                type: string
                example: "state mismatch — sign-in aborted"
        "500":
          description: |
            Internal crypto or serialisation error when sealing the session
            cookie. Should not occur in normal operation.
          content:
            text/plain:
              schema:
                type: string
                example: "encode session"
        "502":
          description: |
            Upstream failure — Asgardeo's token endpoint returned an error,
            the `id_token` was missing from the response, or `id_token`
            verification (signature or nonce) failed. The user should retry;
            if the problem persists, the IdP may be misconfigured.
          content:
            text/plain:
              schema:
                type: string
                example: "token exchange failed"

  /v1/auth/logout:
    post:
      operationId: authLogout
      tags: [auth]
      summary: Clear session cookie and redirect to IdP end-session
      security: []
      description: |
        Clears the `dcapi_session` cookie and redirects the browser to
        Asgardeo's `end_session_endpoint` (discovered from the OIDC discovery
        document). Asgardeo invalidates the IdP session and bounces the browser
        back to the configured post-logout URL (`DCAPI_BFF_POST_LOGOUT_REDIRECT`).

        If the discovery document did not include `end_session_endpoint`,
        the handler falls back to a local redirect to the configured
        post-logout URL. In either case the `dcapi_session` cookie is cleared
        first.

        **POST — not GET** — a `GET /logout` linked from the page is trivially
        CSRF-able because browsers follow same-site links freely. Requiring a
        POST (from a form or `fetch`) plus `SameSite=Lax` on the session cookie
        is the standard mitigation.

        **Auth is optional** — if no `dcapi_session` cookie is present the
        handler still performs the redirect, just without an `id_token_hint`.
        If a valid session cookie is present, the `id_token_hint` (access token)
        is included in the Asgardeo end-session redirect so Asgardeo can
        target the exact authentication event.

        **Cookie mutated:**

        | Name | Action | Path | Attributes | Max-Age |
        |---|---|---|---|---|
        | `dcapi_session` | Cleared | `/` | HttpOnly; Secure (prod); SameSite=Lax | -1 |

[...]
